<table class="table">
    <% for(var i=0; i < mails.length; i++) {%>
        <tr onclick="document.location = '/details?id=<%= mails[i]._id %>';" style="cursor: pointer;">
            <td><a href="/remove?id=<%= mails[i]._id %>">Remove</a></td>
            <td><%= mails[i].From %></td>
            <td><b><%= mails[i].Subject %></b>  <%= mails[i].Text %></td>
            <td><%= mails[i].Date %></td>
        </tr>
    <% } %>
        
</table>